In [278]:
import numpy as np
import pandas as pd 
import pandas_datareader as pdr
import scipy.stats
import matplotlib.pyplot as plt
from datetime import datetime,timedelta
import yfinance as yf

In [279]:
end =datetime.today()
start = end - timedelta(days = 60)

In [280]:
stocks = ['NVDA','AAPL','NVO']
portfolio = pd.DataFrame()

In [281]:
for stock in stocks:
    stock = yf.download(stock,start,end)
    stock = stock['Adj Close']
    portfolio = pd.concat([portfolio,stock],axis=1)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [282]:
portfolio.columns = stocks
portfolio

                           NVDA        AAPL         NVO
2024-05-13 00:00:00   90.391579  186.279999  132.410004
2024-05-14 00:00:00   91.348495  187.429993  132.919998
2024-05-15 00:00:00   94.622223  189.720001  134.660004
2024-05-16 00:00:00   94.351250  189.839996  133.039993
2024-05-17 00:00:00   92.471397  189.869995  131.889999
2024-05-20 00:00:00   94.772217  191.039993  132.910004
2024-05-21 00:00:00   95.378166  192.350006  135.160004
2024-05-22 00:00:00   94.942200  190.899994  134.029999
2024-05-23 00:00:00  103.790482  186.880005  135.570007
2024-05-24 00:00:00  106.460258  189.979996  136.039993
2024-05-28 00:00:00  113.891647  189.990005  134.080002
2024-05-29 00:00:00  114.815567  190.289993  132.679993
2024-05-30 00:00:00  110.490921  191.289993  132.800003
2024-05-31 00:00:00  109.624001  192.250000  135.279999
2024-06-03 00:00:00  114.990555  194.029999  135.619995
2024-06-04 00:00:00  116.427429  194.350006  139.919998
2024-06-05 00:00:00  122.429947  195.869995  141.000000
2024-06-06 00:00:00  120.988060  194.479996  142.399994
2024-06-07 00:00:00  120.878075  196.889999  142.880005
2024-06-10 00:00:00  121.779999  193.119995  143.630005
2024-06-11 00:00:00  120.910004  207.149994  141.789993
2024-06-12 00:00:00  125.199997  213.070007  143.259995
2024-06-13 00:00:00  129.610001  214.240005  142.490005
2024-06-14 00:00:00  131.880005  212.490005  142.500000
2024-06-17 00:00:00  130.979996  216.669998  140.369995
2024-06-18 00:00:00  135.580002  214.289993  140.800003
2024-06-20 00:00:00  130.779999  209.679993  140.990005
2024-06-21 00:00:00  126.570000  207.490005  141.960007
2024-06-24 00:00:00  118.110001  208.139999  142.279999
2024-06-25 00:00:00  126.089996  209.070007  146.910004
2024-06-26 00:00:00  126.400002  213.250000  143.669998
2024-06-27 00:00:00  123.989998  214.100006  144.490005
2024-06-28 00:00:00  123.540001  210.619995  142.740005
2024-07-01 00:00:00  124.300003  216.750000  145.419998
2024-07-02 00:00:00  122.669998  220.270004  142.979996
2024-07-03 00:00:00  128.279999  221.550003  138.869995
2024-07-05 00:00:00  125.830002  226.339996  142.369995
2024-07-08 00:00:00  128.199997  227.820007  143.070007
2024-07-09 00:00:00  131.380005  228.679993  140.429993
2024-07-10 00:00:00  133.880005  231.070007  140.779999

In [236]:
portfolio_log_return = np.log(1+portfolio.pct_change())
portfolio_log_return = portfolio_log_return.dropna()

In [237]:
portfolio_cov = portfolio_log_return.cov()
portfolio_cov

          NVDA      AAPL       NVO
NVDA  0.001001 -0.000026  0.000032
AAPL -0.000026  0.000266 -0.000006
NVO   0.000032 -0.000006  0.000218

In [238]:
assets = len(portfolio.columns)

In [239]:
def gen_weights(assets):
    
    weights = np.random.random(assets)
    weights = weights/sum(weights)
    
    return weights

In [250]:
def returns(portfolio_log_return,weights):
    
    portfolio_cuml_ret = np.sum(portfolio_log_return.mean()*weights)*len(portfolio_log_return)
    
                        
    return portfolio_cuml_ret

In [271]:
def calc_vol(weights,portfolio_cov):
    
    lifetime_cov = np.dot(portfolio_cov*252,weights)
    vol = np.dot(weights.transpose(),lifetime_cov)
    
    return np.sqrt(vol)

In [273]:
assets = len(portfolio.columns)
weights = gen_weights(assets)
returns(portfolio_log_return,weights)
calc_vol(portfolio_cov,weights)

array([0.00432119, 0.00194841, 0.00292177])

In [284]:
def gen_good(n=4):
    weights = np.random.random(n)
    return weights/(sum(weights)*2.5)

In [290]:
gen_good()

array([0.08577854, 0.1144939 , 0.16311606, 0.03661151])